/* General adjustments */
body {
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  padding: 0px;
  margin: 0px;
  background: #fff;
  color: #000;
}

header {
  padding: 20px 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 32px;
}


nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

.quote-btn {
  background: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 6px;
  border-width: 1px;
  font-size: 14px;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-part {
  margin-top: 80px;
  display: flex;
  gap: 40%;
}

.second-part h2 {
  font-size: 40px;
}

.cta-btn {
  background: #000;
  color: #fff;
}


.clients {
 display: flex;
 justify-content: space-between;
 gap: 200px;
}

.title1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 80px;
  margin-left: 60px;
  align-items: center;
}

.title1 h3{
  background: #B9FF66;
  padding: 5px;
  border-radius: 5px;
  font-size: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px; /* Espacio entre tarjetas */
  justify-content: center; /* Opcional: centra las tarjetas horizontalmente */
  margin: 200px;
}

.card {
  flex: 0 0 calc(50% - 20px); /* 2 por fila con espacio */
  background:#F3F3F3;
  border-radius: 10px;
  text-align: center;
}

.card.green{
  background: #B9FF66;
}

.card.dark{
  background: #191A23;
}
